body{
   border-radius: 10em;
   background: url(fondd.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   font-family: sans-serif;
   font-size: 20px;
   border-bottom-width: 0.2em;
   height: 50;
   left: 50;
}

